// Product Detail
.product-detail-grid-layout {
  grid-template-columns: minmax(0, 699px) minmax(0, 486px);
  gap: 3.875rem;
}

.thumbnail-cover-grid-layout {
  grid-template-columns: minmax(0, 120px) minmax(0, 540px);
  gap: 2.5rem;
}

.total-item-grid-layout {
  grid-template-columns: minmax(0, 102px) minmax(0, 360px);
  gap: 1.5rem;
}

// Footer
.footer-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

@media screen and (max-width: 1048px) {
  .footer-grid-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
